<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//localhost:8080/css/style.css">
    <title>Mundo das Compras</title>
    <link rel="shortcut icon" href="//localhost:8080/imgs/mundoFavC.png" type="image/x-icon">
</head>
<body class="container">
<header class="d-flex bd-highlight justify-content-center py-3">
<h1 id="titulo"><img src="//localhost:8080/imgs/mundodcFav.png" alt="Marca da loja" class="img-fluid"> Mundo das Compras</h1>
</header>