<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<% if (messages.success) {%>
    <div class="alert alert-success">
       <%= messages.success %>
    </div>
<%}%> 
<img src="imgs/mundodcdd.png" alt="" id="imge" class="container d-flex img-fluid justify-content-center">
<h3 class="d-flex justify-content-center">Mundo das Compras - A Loja Online que Facilita Suas Conquistas</h3>
<p>No Mundo das Compras, você encontra tudo o que precisa em um só lugar, com a conveniência de comprar online e receber diretamente na sua porta. Nossa loja virtual oferece uma seleção diversificada de produtos, incluindo eletrônicos, moda, beleza, itens para o lar, brinquedos, e muito mais.</p> 
<p>Priorizamos a qualidade e a satisfação de nossos clientes, com preços acessíveis, promoções exclusivas, e entregas rápidas. Buscamos sempre oferecer o melhor custo-benefício, com uma curadoria de produtos que alia qualidade e inovação.</p> 
<p>Com um site intuitivo e seguro, sua experiência de compra será simples e agradável. No Mundo das Compras, cada clique é um passo rumo à praticidade, estilo e inovação!</p>

<%- include ('partials/footer.ejs') %>